# .gitignore

# Python-specific
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
*.egg
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
venv/
env/
.env

# Docker
*.dockerignore
Dockerfile.*
*.log

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS-specific
.DS_Store
Thumbs.db

# Miscellaneous
*.swp
*~
